.content {
  background-color: #161616;
  width: 100%;
  min-height: 50em;
  display: flex;
  flex-direction: column;
}

.main {
  border: 3px solid black;
  width: 90%;
  height: 70vh;
  /* min-height: 48em; */
  border-radius: 1em;
  margin: 1em auto auto auto;
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  width: 90%;
  height: 80%;
  background-color: #222222;
  /* margin-top: 5%; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  /* text-align: center; */
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.topic {
  color: #e5c4f4;
  margin-top: 0em;
  margin-bottom: 0em;
  text-align: center;
  font-size: 2em;
}


.text-container {
  /* background-color: black; */
  /* margin: auto; */
  margin-left: 10%;
  color: white;
  width: 60%;
  height: 80%;
  /* min-height: 40em; */
  box-sizing: border-box;
  padding: 1em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.img-container {
  width: 40%;
  max-height: 50%;
  display: flex;
  justify-self: center;
  align-items: center;
  top: 15%;
  position: relative;
}

.img-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .text-container,
  .img-container {
    width: 100%;
    margin: 0 0 0 0;
    order: 2;
  }

  .text-container {
    height: 50%;
  }

  .img-container {
    top: 0;
    order: 1;
  }
}

.img-wrapper {
  width: 100%;
  max-width: 80vw;
  height: 100%;
  max-height: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}



.paragraph {
  width: 100%;
  height: 100%;
}

.hintPrompt {
  color: lightyellow;
  left: 0;
}

.hintPrompt:hover {
  color: yellow;
}

.hintText {
  display: none;
}

.button-area {
  width: 40%;
  left: 0;
  right: 0;
  margin: auto;
}

.button-area .large-button,
.medium-button,
.small-button {
  margin: auto;
  background-color: mediumpurple;
  margin: 5%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  height: 3em;
  border-radius: 10px;
  font-size: 1em;
  border: none;
  touch-action: manipulation;
}

.button-area .large-button {
  width: 90%;
  color: black;
}

.button-area .medium-button {
  width: 40%;
  color: black;
}

.button-area .small-button {
  width: 3em;
  color: white;
  font-size: 1em;
  font-style: bold;
}

.button-area .input-box {
  margin: auto;
  color: white;
  background-color: transparent;
  border: 3px solid mediumpurple;
  margin: 5%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  height: 3em;
  border-radius: 10px;
  font-size: 1em;
  width: calc(80% - 3em);
}

.button-area .large-button:hover,
.medium-button:hover,
.small-button:hover {
  cursor: pointer;
  border: 3px solid rgba(255, 255, 255, 0.5);
}

.nav-button {
  border: 3px solid white;
  background-color: transparent;
  color: white;
  margin: 5%;
  height: 8vh;
  width: 8vh;
  border-radius: 4vh;
  font-size: 2em;
  touch-action: manipulation;
  text-align: center;
}

.nav-button:hover,
.button-area .input-box:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
}

.hidden-element {
  opacity: 0;
}

.hidden-element:hover {
  cursor: default !important;
}

.continue {
  /* width: 5%; */
  /* height: 3%; */
  box-sizing: border-box;
  /* padding: 1em; */
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: auto;
  height: 25vh;
  overflow: hidden;
  top: 0;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  height: 100%;
}

.card {
  background: white;
  color: #222222;
  border: 2px solid #ff928c;
  display: flex;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  position: relative;
  flex-direction: column;
  max-width: 6em;
  max-height: calc(6em * 4 /3);
  width: 10vw;
  height: calc(10vw * 4 / 3);
  min-width: 1.4em;
  min-height: calc(1.4em * 4 / 3);
}

.card-title {
  margin-left: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  text-align: center;
  color: #ff928c;
  width: 100%;
  top: 10%;
}

.card-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin: auto;
  display: block;
}

@media screen and (max-width: 768px) {
  .card {
    border: 1px solid #ff928c;
  }

  .card-title {
    display: none;
  }
}

.card:hover,
.hintPrompt:hover {
  cursor: pointer;
}

.card:hover::before {
  content: '';
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
  border-radius: inherit;
  position: absolute;
  left: 0;
  height: 100%;
  top: 0px;
  width: 100%;
}

.dev-area {
  /* color: white; */
  background-color: darkolivegreen;
}

@media screen and (max-width: 1023px) {
  .button-area {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .card-wrapper {
    width: 90%;
  }

  .nav-button {
    margin: 5px;
  }
}

.nav-button {
  border: 3px solid white;
  background-color: transparent;
  color: white;
  /* margin: 5%; */
  height: 5vh;
  width: 5vh;
  font-size: 2em;
  touch-action: manipulation;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .nav-button {
    width: 8vw;
    height: 8vw;
    /* border-radius: 6vw; */
    font-size: 1em;
  }
}

/* 蒙版 */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.75);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #161616;
  margin: 0;
  padding: 20px;
  border: 1px solid #ff928c;
  border-radius: 10px;
  width: 30vw;
  /* 模态宽度 */
  height: 50vw;
  /* 模态高度 */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.card-description-img {
  width: 80%;
  /* margin: auto; */
}

.card-description-id {
  color: #ff928c;
  font-size: 2em;
  text-align: center;
  margin-bottom: 15px;
}

.card-description-name {
  color: #ffffff;
  font-size: 1.5em;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card-description-text {
  color: #ffffff;
  margin-top: 15px;
}

.divider {
  height: 2px;
  width: 80%;
  background-color: #ff928c;
  margin-top: 15px;
  margin-bottom: 15px;
}