body {
    background-color: #161616;
}

::-webkit-scrollbar {
    display: none;
}

#section-1 {
    width: 80%;
    margin: auto;
    background-color: #222222;
    border: 1px solid #222222;
    border-radius: 10px;
    padding: 10px;
    height: 80vh;
    display: flex;

}

.text-container {
    width: 50%;
    height: 100%;
    color: white;
    overflow: scroll;
    /* white-space: pre-line; */
}

.img-container {
    width: 30%;
    height: auto;
    /* height: auto; */
    overflow: hidden;
    margin: auto;
    object-fit: contain;
}

.image-container {
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.image-visible {
    opacity: 1;
}